__pycache__/brisque.cpython-39.pyc
Papers/
Papers/brisque_am_asilomar_2011.pdf
.DS_Store
.idea/
Images/
Images/.DS_Store
Images/KonIQ-10k/koniq10k_scores_and_distributions.csv
Images/.DS_Store
Images/KonIQ-10k/512x384
